// -----------------------------------------------------------------------------
// Basic styles that are used site wide.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

body {
}

.mt-30 {
  margin-top : 30px;
}

.mb-0 {
  margin-bottom : 0;
}