// -----------------------------------------------------------------------------
// Home Page
// -----------------------------------------------------------------------------
.home-event-section {
  background-color : rgba(225, 225, 225, 0.94);
}

.facebook-container {
  padding : 30px;
  @media screen and (min-width: $screen-sm) {
    margin-left : 30px;
  }
}