// -------------------
// TRUMPS.PAGES
// -------------------

.t-logo {
  max-height : 100%;
  width      : 120px;
  margin-top : -2px;
  @media screen and (min-width : $screen-sm) {
    width      : 140px;
    margin-top : 5px;
  }
}

.t-footer-logo {
  display        : inline-block;
  width          : 60px;
  margin-left    : 10px;
  vertical-align : baseline;
}

.t-side-image {
  margin-bottom : 45px;
  @media screen and (min-width : $screen-sm) {
    float : right;
  }
}

.t-page-content {
  max-width : 560px;
}

// Home Page
// --------------------------
.home-event-section {
  background-color : rgba(215, 205, 205, 0.92);
}

.facebook-container {
  padding : 30px;
  @media screen and (min-width : $screen-sm) {
    margin-left : 30px;
  }
}

// Event Page
//-------------
.EventPage, .ClubPage {
  .tab-content {
    min-height : 180px;
    ul {
      list-style   : none;
      padding-left : 10px;
    }
    li {
      font-family    : Oswald, sans-serif;
      padding        : 6px 10px 6px 0;
      font-size      : 16px;
      font-weight    : 400;
      text-align     : left;
      text-transform : uppercase;
      letter-spacing : 0.03em;
      &:before {
        font           : normal normal normal 8px/1 FontAwesome;
        content        : "\f111";
        color          : $brand;
        margin-right   : 10px;
        vertical-align : middle;
        line-height    : 3px;
      }
    }
  }
}

.event-full {
  min-height : 520px;
}

.fb-like {
  margin-bottom : 20px;
}

.course-card {
  padding : 4px 4px 10px 4px;
  .course-detail .course-features {
    margin-top : 0;
    li {
      display : block;
      margin  : 10px;
    }
  }

}

// Event Holder Page
// ----------------------
.event-card {
  .brief {
    display    : block;
    min-height : 51px;
    padding    : 0 10px;
  }
}

// History Page
// ----------------------
.motto-text {
  padding-left : 0;
}

// Page Header
// -----------------------
.page-header {
  background-image : url('../img/newbanner.png');
}