// -------------------
// TRUMPS.PAGES
// -------------------

// Home Page
// --------------------------
.home-event-section {
  background-color : rgba(225, 225, 225, 0.94);
}

.facebook-container {
  padding : 30px;
  @media screen and (min-width: $screen-sm) {
    margin-left : 30px;
  }
}


// Event Page
//-------------
.EventPage, .ClubPage{
  .tab-content{
    min-height: 180px;
    ul{
      list-style: none;
      padding-left: 10px;
    }
    li{
      font-family: Oswald,sans-serif;
      padding: 6px 10px 6px 0;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      &:before{
        font: normal normal normal 8px/1 FontAwesome;
        content: "\f111";
        color: $brand;
        margin-right: 10px;
        vertical-align: middle;
        line-height: 3px;
      }
    }
  }
}

.event-full{
  min-height: 520px;
}

.fb-like{
  margin-bottom: 20px;
}

.course-card {
  padding: 4px 4px 10px 4px;
  .course-detail .course-features{
    margin-top: 0;
    li{
      display: block;
      margin: 10px;
    }
  }

}


// Event Holder Page
// ----------------------
.event-card{
  .brief{
    display: block;
    min-height: 51px;
    padding :0 10px;
  }
}



// History Page
// ----------------------
.motto-text{
  padding-left: 0;
}